/*
Template CSS :  Project Name;
Version :       1.0;
Author :        workbythai;
*/




/*------------------------------------*
$CONTENTS
*------------------------------------*/
/**
* FONT-FACE...........Import brand font files
* RESET...............Set our reset defaults
* ELEMENT ............Such as h1,ul,p,footer
* OBJECT..............Such as h1.title, p.text-center
* COMPONENT...........Including many object
* STYLE...............Other style
* RESPONSIVE..........Responsive for 5 devices
*/



/*------------------------------------*
$FONTFACE
*------------------------------------*/
@font-face {
    font-family: 'kanitbold';
    src: url('../fonts/kanit/kanit-bold-webfont.woff2') format('woff2'),
         url('../fonts/kanit/kanit-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kanitlight';
    src: url('../fonts/kanit/kanit-light-webfont.woff2') format('woff2'),
         url('../fonts/kanit/kanit-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kanitmedium';
    src: url('../fonts/kanit/kanit-medium-webfont.woff2') format('woff2'),
         url('../fonts/kanit/kanit-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kanitregular';
    src: url('../fonts/kanit/kanit-regular-webfont.woff2') format('woff2'),
         url('../fonts/kanit/kanit-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/*------------------------------------*
General
*------------------------------------*/

body {
  font-family: kanit;
}
a:hover {
    color: none;
    text-decoration: underline;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}
.wrapper {
    min-height: calc(100vh - 359px);
}
.w-100 {
  width: 100%;
}
.bg-black {
  background-color: #000;
}
.bg-purple {
  background-color: #480884!important;
}
.text-purple {
  color: #480784;
}
.star-yellow {
  color: #f3b70a!important;
}

.text-small{
    font-size: small;
}

.text-medium{
    font-size: medium;
}

.bg-white{
    background-color: #ffffff;
}

.bg-gray{
    background-color: #eaeaea;
}


._black{
    background-color: #000000;
    border: 2px solid #000000;
    color: #fff;
}

._purple{
    background-color: #480784;
    border: 2px solid #480784;
    color: #fff;
}


.cursor-pointer {
  cursor: pointer!important;
}
.text-gray {
  color: #9E9E9E;
}
.font-18 {
  font-size: 18px;
}
.font-25 {
  font-size: 25px;
}
.input-from-bottom {
  width: 100%;
  border-radius: 0px;
  border: 1px solid #000;
  border-left: none;
  border-right: none;
  border-top: none;
}
.border-hr {
  border-color: #480784!important;
  border-width: 4px!important;
}
.area-comment {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 143px;
  border: 1px solid #000;
  border-radius: 0px;
}
.selected-class {
    border: 1px solid rgb(169, 169, 169);
    border-radius: 0px;
    background: #fff url(../../assets/images/select.png) no-repeat right 15px center;
    background-size: 15px;
    -webkit-appearance: none!important;
    padding: 5px 25px!important;
    width: 100%;
    height: 45px;
}
.btn-search {
    border-left: none;
    background-color: #fff;
    color: #a9a9a9;
    border-color: #a9a9a9;
    border-radius: 0px;
    height: 45px;
}
.input-search {
    background-color: #fff;
    color: #a9a9a9;
    border-color: #a9a9a9;
    border-radius: 0px;
    height: 45px;
}
.btn-facebook {
    border-radius: 0px;
    background-color: #4267b2;
    color: #fff;
    font-size: 20px;
    height: 45px;
}
.btn-gmail {
    border-radius: 0px;
    background-color: #db4437;
    color: #fff;
    font-size: 20px;
    height: 45px;
}

/*----------- YELLOW -----------*/
.btn-yellow {
    height: 51px;
    color: #eab40f;
    font-size: 18px;
    font-weight: 400;
    line-height: 51px;
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 3px solid #bb8e03;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    background-color: #000;
    padding-left: 85%;
}
.btn-yellow:hover {
    color: #eab40f;
}
.btn-yellow:active {
    border-bottom: none;
    transition: all 5s;
}
.btn-yellow .hover-bg {
    color: #000;
    display: block;
    background-color: #eab40f;
    width: 90%;
    height: 102%;
     position: absolute; 
    -webkit-transform: skew(-25deg);
    -moz-transform: skew(-25deg);
    -ms-transform: skew(-25deg);
    -o-transform: skew(-25deg);
    transform: skew(-25deg);
    left: 33px;
    top: 0;
    margin-left: -60px;
    z-index: 4;
    overflow: hidden;
}
.text-btn-yellow {
    margin-left: -10px;
    position: absolute;
    transform: skew(25deg);
}
/*----------- END YELLOW -----------*/

/*----------- PURPLE -----------*/
.btn-purple {
    height: 51px;
    min-width: 218px;
    color: #eab40f;
    font-size: 18px;
    font-weight: 400;
    line-height: 51px;
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 3px solid #2d0354;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    background-color: #000;
    padding-left: 85%;
}
.btn-purple:hover {
    color: #eab40f;
}

.btn-purple .hover-bg {
    color: #fff;
    display: block;
    background-color: #480784;
    width: 90%;
    height: 102%;
     position: absolute; 
    -webkit-transform: skew(-25deg);
    -moz-transform: skew(-25deg);
    -ms-transform: skew(-25deg);
    -o-transform: skew(-25deg);
    transform: skew(-25deg);
    left: 33px;
    top: 0;
    margin-left: -60px;
    z-index: 4;
    overflow: hidden;
}
.text-btn-purple {
    margin-left: -10px;
    position: absolute;
    transform: skew(25deg);
}
/*----------- END PURPLE -----------*/
.bnt-dark-purple {
    width: 100%;
    height: 50px;
    border-radius: 0px;
    background-color: #480784;
    border: 2px solid #480784;
    color: #fff;
}
.bnt-dark-purple:hover {
    background-color: #fff;
    border: 2px solid #480784;
    color: #480784;
    transition: all 0.4s;
}
.card-all {
    border: none;
    width: 100%;
}
.border-radius-none {
    border-radius: 0px;
}
.card-footer-all {
    background-color: #fff;
    border: 0px;
    font-size: 20px;
}
.card-content {
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
    height: 50px;
}
.card-head-content {
    overflow: hidden;
    height: 50px;
}    

/*------------------------------------*
END General
*------------------------------------*/
/*------------------------------------
NAVBAR
--------------------------------------*/
.navbar-right {
    margin-left: auto;
    font-size: 20px;
}
.navbar-icon {
    font-size: 35px;
    color: #fff;
}
.navbar-border-right {
    border-right: 1px solid #fff;
    height: 30px;
    margin-top: 8px;
}
.navbar-logo-frame {
    position: relative;
    width: 170px;
    height: 80px;
    overflow: hidden;
}
.navbar-logo-img {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
}
.navbar-widtd {
    width: 135px;
    text-align: center;
}
.navbar-text-link {
    color: #fff!important;
    font-size: medium;
}
.navbar-text-link:hover {
    color: #d0a50a!important;
    transition: all 0.3s;
}
.navbar-language {
    width: 33px;
    margin: 0px 5px;
} 
.navbar-language:hover {
    opacity: 0.5;
    transition: 0.2s;
} 
.navbar-language-active {
    opacity: 0.5;
} 
/*------------------------------------
END NAVBAR
--------------------------------------*/

/*------------------------------------
FOOTER
--------------------------------------*/
footer {
      background-color: #480884!important;
      color: #fff;
      padding-top: 40px;
      padding-bottom: 40px;
}
.footer-barnd {
    position: relative;
    width: 100%;
    height: 100px;
    overflow: hidden;
}
.footer-set-font {
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
}
.footer-contact {
    font-size: 15px;
    font-weight: 300;
}
/*------------------------------------
END FOOTER
--------------------------------------*/

/*------------------------------------
HOME
--------------------------------------*/
.home-carousel-img {
    position: relative;
    overflow: hidden;
    height: 525px;
}
.home-carousel-auto {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
}

.home-card-black {
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 0px!important;
}
.home-card-top {
    margin-top: -150px;
    border-radius: 0px;
}

.ui-widget-header {
    border: 1px solid #dddddd;
    background: #480784;
    color: #333333;
    font-weight: bold;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 5px solid #480784;
    background: #f6f6f6;
    font-weight: normal;
    color: #454545;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    top: -11px;
}
.ui-widget.ui-widget-content {
    border: none;
    background-color: #d0d0d0;
    border-radius: 30px;
}
.home-head-product {
    padding: 18px;
    height: 60px;
}
.home-porduct-img {
    position: relative;
    overflow: hidden;
    height: 230px;
    margin-bottom: 10px;
}
.home-img-porduct {
    position: absolute;
    width: 100%;
/*    top: 50%;
    left: 50%;*/
    transform: translate(0% ,0%);
    height: auto;
}
.home-btn-yollow {
    padding-left: 15%;
    width: 20%;
}
.home-btn-reset {
    margin-left: -70px;
}
.home-hover-text {
   width: 70%;
}
.home-star:before {
    content: "\f005";
}
.home-icon-list .home-hover a .home {
    width: 32px;
    font-size: 14px;
    display: inline-block;
    text-align: right;
    margin-right: 10px; 
}
/*------------------------------------
END HOME
--------------------------------------*/


/*-------------------------------------
FAVORITES
---------------------------------------*/

.favorites-img-fix {
    position: relative;
    overflow: hidden;
    height: 225px;
    background-color: #eee;
}
.favorites-fix-img {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
}
.favorites-border-left {
    border-left: 15px solid #480784;
}
.favorites-btn-show {
    margin-top: 33px;
    height: 55px;
    width: 250px;
    padding-left: 200px;
}
.favorites-btn-size {
    width: 80%;
}
.favorites-close-position {
    position: absolute;
    top: 30px;
    right: 30px;
}
.favorites-btn-close {
    background-color: #a5a5a5;
    width: 25px;
    height: 25px;
    padding-left: 6px;
    border-radius: 25px;
    color: #fff;
}
.favorites-font-25 {
    font-size: 25px;
}
/*-------------------------------------
END FAVORITES
---------------------------------------*/
/*-------------------------------------
BOOKING-HISTORY 
---------------------------------------*/
.booking-20 {
    font-size: 20px;
    overflow: hidden;
    height: 35px;
}
.booking-card {
    border: none;
    background-color: #ffc721;
    border-radius: 0px;
    overflow: hidden;
    height: 130px;
}
.booking-img-fix {
    position: relative;
    overflow: hidden;
    height: 175px;
    background-color: #eee;
}
.booking-text-point {
    font-weight: 600;
    margin-top: 15px;
}
/*-------------------------------------
END BOOKING-HISTORY 
---------------------------------------*/


/*--------------------------------------------------
---------------- show product ---------------------
--------------------------------------------------*/

.heading-title {
    padding: 10px;
    width: 100%;
    height: auto;
    border-radius: 0px;
}

.full-search{
  border: 1px solid #495057;
  padding: 20px 15px;
}

.mx-15{
  margin-left: -15px;
  margin-right: -15px;
}


.tabs-product{
  position: relative;
}

.sort-product{
  position: absolute;
  right: 0;
  display: flex;
}

.sort-product .selected-class{
  border:unset;
  height: 40px;
    padding-right: 35px !important;
    padding-left: 5px !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #480784;
    background-color: #fff;
    border-bottom: 3px solid #480784;
    border-color: unset;
 }

.nav-tabs .nav-link {
    border: 0px solid transparent;
 }

.nav-tabs .nav-item a{
  color: #333333;
}

/* Checkbox */
.check-compare {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.check-compare input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #ffffff;
    border: 1px solid #eee;
}

/* On mouse-over, add a grey background color */
.check-compare:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check-compare input:checked ~ .checkmark {
    background-color: #28a745;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.check-compare input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.check-compare .checkmark:after {
    left: 6px;
    top: 1px;
    width: 8px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/*----------------------- Wishlist ------------------------*/
.wishlist{
  position: relative;
  padding-left: 25px;
}
.wish-position{
  position: absolute;
  top: -4px;
  right: 0;
}
.star-wish{
  cursor: pointer;
  color: #818182;
}

.show-list-detail{
  list-style: none;
    -webkit-padding-start: 0px;
    margin-bottom: 0px;
}

.show-list-detail .list-item{
    color: #777;
    margin-top: 2px;
}

/*---------------------- Button ----------------------------*/

.btn-small{
    min-width: 160px;
}

.btn-small .text-btn-purple{
    margin-left: -32px;
}

.btn-close{
    position: absolute;
    right: -10px;
    top: -10px;
    background-color: #480784;
    color: #ffffff;
    width: 26px;
    height: 26px;
    border-radius: 15px;
    cursor: pointer;
    z-index: 5;
}
/*------------------------- accordian --------------------------*/

a:focus,
a:hover,
a:active {
  outline: 0;
  text-decoration: none;
}

.panel {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #fff;
  background: none;
  box-shadow: none;
}

.panel:last-child {
  border-bottom: none;
}

.panel-group > .panel:first-child .panel-heading {
  border-radius: 4px 4px 0 0;
}

.panel-group .panel {
  border-radius: 0;
}

.panel-group .panel + .panel {
  margin-top: 0;
}

.panel-heading {
    border-radius: 0;
    border-top: 1px solid #ccc;
    color: #fff;
    padding: 0;
}

.panel-title a {
    display: block;
    color: #480784;
    padding: 15px;
    position: relative;
    font-size: 18px;
    font-weight: 500;
}

.panel-body {
  background: #fff;
}

.panel:last-child .panel-body {
  border-radius: 0 0 4px 4px;
}

.panel:last-child .panel-heading {
  border-radius: 0 0 4px 4px;
  transition: border-radius 0.3s linear 0.2s;
}

.panel:last-child .panel-heading.active {
  border-radius: 0;
  transition: border-radius linear 0s;
}
/* #bs-collapse icon scale option */

.panel-heading a:before {
  content: '\e146';
  position: absolute;
  font-family: 'FontAwesome';
  right: 5px;
  top: 10px;
  font-size: 24px;
  transition: all 0.5s;
  transform: scale(1);
}

.panel-heading.active a:before {
  content: ' ';
  transition: all 0.5s;
  transform: scale(0);
}

/* #accordion rotate icon option */

#accordion .panel-heading a:before {
  content: '\f107';
  font-size: 24px;
  position: absolute;
  font-family: 'FontAwesome';
  right: 5px;
  top: 10px;
  transform: rotate(0deg);
  transition: all 0.5s;
}

#accordion .panel-heading.active a:before {
  transform: rotate(180deg);
  transition: all 0.5s;
}


/*------------------------- table --------------------------*/

.compare-content-table .table thead th{
    white-space: nowrap;
}

.compare-content-table .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.05);
}

.compare-content-table .table-striped tbody tr:nth-of-type(even) {
    background-color: rgba(72, 7, 132, 0.25);
}

.compare-content-table .table-hover tbody tr:hover {
    background-color: rgba(0,0,0,.075);
}

.card-all a{
    overflow: hidden;
}

.card-all a img{
    transition: transform .2s;
}

.card-all a img:hover{
    transition: transform .2s;
    transform: scale(1.2);
}
.compare-fix-img {
    overflow: hidden;
    height: 160px;
}

/*---------------------- pagination -----------------------*/

.bc-pagination {
    display: inline-block;
}

.bc-pagination a {
    color: #333333;
    float: left;
    margin: 0px 10px;
    font-weight: 300;
    padding: 8px 5px 0px;
    text-decoration: none;
}

.bc-pagination a.active {
    color: #6922ab;
    font-weight: 600;
    border-bottom: 3px solid #6922ab;
}

.bc-pagination a:hover:not(.active) {
    color: #6922ab;
    font-weight: 500;
    border-bottom: 2px solid #6922ab;
}




/*--------------------------------------------
---------------- Responsive ------------------
----------------------------------------------*/



@media(max-width: 1366px){
  /*-----------------------
  NAVBAR 1366
  -------------------------*/
  .navbar-widtd {
      width: 104px;
      text-align: center;
  }
  /*-----------------------
  END NAVBAR 1366
  -------------------------*/

  /*-----------------------
  HOME 1366
  ------------------------*/
  .home-carousel-img {
      position: relative;
      overflow: hidden;
      height: 490px;
  }
  /*-----------------------
  END HOME 1366
  ------------------------*/
}


@media(max-width: 1024px){
  /*-----------------------
  NAVBAR 1024
  -------------------------*/
  .navbar-widtd {
      width: 104px;
      text-align: center;
  }
    .navbar-text-link {
      color: #fff!important;
      font-size: 18px;
  }
  /*-----------------------
  END NAVBAR 1024
  -------------------------*/

  /*-----------------------
  FOOTER 1024
  -------------------------*/
  .footer-font-h4 {
    font-size: 19px;
  }
  .footer-set-font {
      font-size: 15px;
      font-weight: 300;
      line-height: 37px;
  }

  /*-----------------------
  END FOOTER 1024
  -------------------------*/

  /*----------------------
  HOME 1024
  ------------------------*/
  .home-carousel-img {
      position: relative;
      overflow: hidden;
      height: 370px;
  }
  .home-card-top {
      margin-top: -110px;
      border-radius: 0px;
  }
  .home-porduct-img {
      position: relative;
      overflow: hidden;
      height: 190px;
      margin-bottom: 10px;
  }
  /*----------------------
  END HOME 1024
  ------------------------*/
  /*-----------------------
  BOOKING HISTORY 1024
  -------------------------*/
  .booking-img-fix {
      position: relative;
      overflow: hidden;
      height: 140px;
      background-color: #eee;
      margin-top: 20px;
  }
  .booking-20 {
      font-size: 18px;
      overflow: hidden;
      height: 35px;
  }
  /*-----------------------
  END BOOKING HISTORY 1024
  -------------------------*/
  /*-----------------------
  FAVIRITES 1024
  ------------------------*/
  .favorites-btn-show {
      margin-top: 5px;
      height: 55px;
      width: 250px;
      padding-left: 200px;
  }
  .favorites-img-fix {
      position: relative;
      overflow: hidden;
      height: 180px;
      background-color: #eee;
  }
  /*-----------------------
  END FAVIRITES 1024
  ------------------------*/



/*--------- start button -----------*/
    .btn-small{
        min-width: 136px;
    }
    .btn-small .hover-bg{
        width: 100%;
    }
    .compare-fix-img {
      overflow: hidden;
      height: 130px;
  }
/*----------- end button -----------*/   

}


@media(max-width: 768px){
  /*-----------------------
  NAVBAR 768
  -------------------------*/
  .navbar-widtd {
      width: 100%;
      text-align: left;
  }
  .navbar-text-link {
      color: #fff!important;
      font-size: 20px;
  }
  /*-----------------------
  END NAVBAR 768
  -------------------------*/
  /*-----------------------
  FOOTER 768
  -------------------------*/
  .footer-barnd {
      position: relative;
      width: 50%;
      margin: auto;
      height: 145px;
      overflow: hidden;
      margin-top: -35px;
      margin-bottom: 24px;
  }
  .footer-set-font {
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
}
  /*-----------------------
  END FOOTER 768
  -------------------------*/

  /*--------------------------
  HOME 768
  ----------------------------*/
  .home-btn-yollow {
      padding-left: 23%;
      width: 30%;
  }
  .home-carousel-img {
      position: relative;
      overflow: hidden;
      height: 280px;
  }
  .home-card-top {
      margin-top: 30px;
      border-radius: 0px;
  }
  .home-porduct-img {
      position: relative;
      overflow: hidden;
      height: 210px;
      margin-bottom: 10px;
  }
  /*--------------------------
  END HOME 768
  ----------------------------*/
  /*---------------------------
  FAVORITES 768
  -----------------------------*/
  .favorites-img-fix {
      position: relative;
      overflow: hidden;
      height: 350px;
      background-color: #eee;
  }
  .favorites-border-left {
      border-left: 20px solid #480784;
      padding: 0px 35px;
  }
  .favorites-close-position {
      position: absolute;
      top: 15px;
      right: 15px;
  }
  /*---------------------------
  END FAVORITES 768
  -----------------------------*/

  /*---------------------------
  BOOKING HISTORRY 768
  -----------------------------*/
  .booking-card {
      border: none;
      background-color: #ffc721;
      border-radius: 0px;
      overflow: hidden;
      height: 130px;
      margin-top: 40px!important;
  }
  .booking-top-md {
      margin-top: 15px;
  }
  .booking-img-fix {
      position: relative;
      overflow: hidden;
      height: 440px;
      background-color: #eee;
      margin-top: 20px;
  }
  .booking-head-h {
      height: 60px!important;
  }
  /*---------------------------
  END BOOKING HISTORRY 768
  -----------------------------*/
  /*--------- start button -----------*/
    .btn-small {
        min-width: 150px;
    }
    .compare-fix-img {
        overflow: hidden;
        height: 210px;
    }
  /*----------- end button -----------*/   
}


@media(max-width: 414px){

  /*-----------------------
  ALL CLASS 414
  ------------------------*/
  .text-btn-purple {
      margin-left: -40px;
      position: absolute;
      transform: skew(25deg);
  }
  /*-----------------------
  END ALL CLASS 414
  ------------------------*/
  /*-----------------------
  NAVBAR 414
  -------------------------*/
  .navbar-right {
    margin-left: auto;
    font-size: 20px;
    width: 100%;
    display: -webkit-box!important;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
     padding: 0px 60px;
  }
  .navbar-size-sm {
    padding: 0px 10px;
  }
  .navbar-logo-frame {
      position: relative;
      width: 140px;
      height: 60px;
      overflow: hidden;
  }
  /*-----------------------
  END NAVBAR 414
  -------------------------*/

  /*-----------------------
  FOOTER 414
  -------------------------*/
  .footer-contact {
      font-size: 15px;
      font-weight: 300;
      line-height: 5px;
  }
  .footer-barnd {
    position: relative;
    width: 80%;
    margin: auto;
    height: 145px;
    overflow: hidden;
    margin-top: -40px;
    margin-bottom: 0px;
  }
  /*-----------------------
  END FOOTER 414
  -------------------------*/
  /*-----------------------
  HOME 414
  -------------------------*/
  .home-btn-yollow {
      padding-left: 80%;
      width: 100%;
  }
  .home-carousel-img {
      position: relative;
      overflow: hidden;
      height: 150px;
  }
  .home-porduct-img {
      position: relative;
      overflow: hidden;
      height: 235px;
      margin-bottom: 10px;
  }
  /*-----------------------
  END HOME 414
  -------------------------*/
  /*---------------------------
  FAVORITES 414
  -----------------------------*/
  .favorites-border-left {
      border-left: 10px solid #480784;
      padding: 0px 10px;
      margin-top: 35px;
  }
  .favorites-img-fix {
      position: relative;
      overflow: hidden;
      height: 210px;
      background-color: #eee;
  }
  .favorites-font-h3 {
      font-size: 20px;
  }
  .favorites-font-25 {
      font-size: 20px;
  }
  .favorites-btn-show {
      margin-top: 33px;
      height: 50px;
      width: 100%;
      padding-left: 250px;
  }
  /*---------------------------
  END FAVORITES 414
  -----------------------------*/

  /*---------------------------
  BOOKING HISTORY 414
  -----------------------------*/
  .booking-card {
      border: none;
      background-color: #ffc721;
      border-radius: 0px;
      overflow: hidden;
      height: 70px;
      margin-top: 10px!important;
  }
  .booking-text-point {
      font-weight: 600;
      margin-top: -11px;
  }
  .booking-img-fix {
      position: relative;
      overflow: hidden;
      height: 225px;
      background-color: #eee;
      margin-top: 20px;
  }
  /*---------------------------
  END BOOKING HISTORY 414
  -----------------------------*/

/*------------ start tabs -----------*/
    .sort-product {
        position: absolute;
        top: -40px;
        right: 0;
        display: flex;
    }
/*------------ end tabs -----------*/

/*--------- start button -----------*/
    .btn-small {
        min-width: 100%;
    }
    .btn-small .hover-bg{
        width: 90%;
    }
    .compare-fix-img {
        overflow: hidden;
        height: 235px;
    }
/*----------- end button -----------*/  

}

@media(max-width: 375px){
  /*-----------------------
  NAVBAR 375
  -------------------------*/
  .navbar-right {
    margin-left: auto;
    font-size: 20px;
    width: 100%;
    display: -webkit-box!important;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
     padding: 0px 35px;
  }
  /*-----------------------
  END NAVBAR 375
  -------------------------*/

  /*-----------------------
  HOME 375
  -------------------------*/
  .home-btn-yollow {
      padding-left: 83%;
      width: 100%;
  }
  .home-carousel-img {
      position: relative;
      overflow: hidden;
      height: 135px;
  }
  .home-porduct-img {
      position: relative;
      overflow: hidden;
      height: 210px;
      margin-bottom: 10px;
  }
  /*-----------------------
  END HOME 375
  -------------------------*/
  /*---------------------------
  FAVORITES 375
  -----------------------------*/
  .favorites-font-h3 {
      font-size: 17px;
  }
  .favorites-font-25 {
      font-size: 16px;
  }
  .favorites-btn-show {
      margin-top: 25px;
      height: 50px;
      width: 100%;
      padding-left: 225px;
      font-size: 14px;
  }
  .favorites-img-fix {
      position: relative;
      overflow: hidden;
      height: 180px;
      background-color: #eee;
  }
  /*---------------------------
  END FAVORITES 375
  -----------------------------*/

  /*---------------------------
  BOOKING HISTORY 375
  -----------------------------*/
  .booking-img-fix {
      position: relative;
      overflow: hidden;
      height: 200px;
      background-color: #eee;
      margin-top: 20px;
  }
  /*---------------------------
  END BOOKING HISTORY 375
  -----------------------------*/
  /*---------- COMPARE 375 --------*/
  .compare-fix-img {
      overflow: hidden;
      height: 210px;
  }
  /*------ END COMPARE 375 --------*/
}

@media(max-width: 320px){
  /*-----------------------
  NAVBAR 320
  -------------------------*/
  .navbar-right {
      margin-left: auto;
      font-size: 20px;
      width: 100%;
      display: -webkit-box!important;
      -webkit-box-orient: unset;
      -webkit-box-direction: unset;
      padding: 0px 15px;
  }
  .home-carousel-img {
      position: relative;
      overflow: hidden;
      height: 115px;
  }
  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
      border: 3px solid #480784;
      background: #f6f6f6;
      font-weight: normal;
      color: #454545;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      top: -4px;
  }
  /*-----------------------
  END NAVBAR 320
  -------------------------*/
    .font-25 {
        font-size: 18px;
    }
    .home-ml--60 {
        margin-left: -49px;
    }
    .home-width-responsive {
        width: 90%!important;
    }
    .home-padding-320 {
        padding-left: 83%;
        min-width: 100%;
    }
    .home-porduct-img {
      position: relative;
      overflow: hidden;
      height: 170px;
      margin-bottom: 10px;
  }
  /*-----------------------
  HOME 320
  -------------------------*/
  /*---------------------------
  FAVORITES 320
  -----------------------------*/
   .favorites-border-left {
        border-left: 4px solid #480784;
        padding: 0px 5px;
         margin-top: 20px;
    }
    .favorites-btn-show {
      margin-top: 25px;
      height: 50px;
      width: 100%;
      padding-left: 175px;
      font-size: 14px;
  }
  .favorites-img-fix {
      position: relative;
      overflow: hidden;
      height: 150px;
      background-color: #eee;
  }
  .favorites-close-position {
      position: absolute;
      top: 10px;
      right: 10px;
  }
  .favorites-btn-close {
      background-color: #a5a5a5;
      width: 20px;
      height: 20px;
      padding-left: 5px;
      border-radius: 25px;
      color: #fff;
      font-size: 13px;
  }
  /*---------------------------
  END FAVORITES 320
  -----------------------------*/

  /*---------------------------
  BOOKING HISTORY 320
  -----------------------------*/
  .booking-img-fix {
      position: relative;
      overflow: hidden;
      height: 160px;
      background-color: #eee;
      margin-top: 15px;
  }
  /*---------------------------
  END BOOKING HISTORY 320
  -----------------------------*/

  /*---------- COMPARE 320 -----------*/
  .compare-fix-img {
      overflow: hidden;
      height: 160px;
  }
  /*------ END COMPARE 320 -----------*/
}