
body{
	
}

/*---------All cless-------------*/

.text_purple{
	color: #480784;
}
a:hover {
    color: none;
    text-decoration: none;
}

/*---------------nav-------------*/
.btn-secondary {
    color: #fff;
    background-color: #000000;
    /* border-color: #6c757d; */
    border: none;
    font-size: 20px;
    margin-bottom: 10px;
}
.btn-secondary:hover {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}
.btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}
.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgb(0, 0, 0);
}
.btn-secondary.focus, .btn-secondary:focus {
    box-shadow: 0 0 0 0.2rem rgb(0, 0, 0);
}
.navbar-expand-sm .navbar-nav .dropdown-menu {
    position: absolute;
    margin: 0px 0px 0px -65px;
}

/*---------------nav end ----------*/


/*--------------------------------
---------------index--------------
----------------------------------*/
.bg_purple{
	background-color: #480784;
	height: 100vh;
}
.index_pad{
	padding: 270px 0px 0px 0px;
}
.index_text_yellow{
	color: #d0a50a;
}
.index_icon-thai-eng{
	display: flex;
	padding: 15px 450px;
}
.index_fix_frame {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    padding: 0px 200px 0px 200px;
}
/*--------------------------------
---------------index--------------
----------------------------------*/


/*----------------------------------
----------------about_us------------
-----------------------------------*/
.about_us_fix_frame{
	   position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
}
/*----------------------------------
----------------about_us end--------
-----------------------------------*/

/*----------------------------------
-----------------contact------------
-----------------------------------*/

/*----------------------------------
-----------------contact end--------
-----------------------------------*/



/*----------All cless end--------*/

@media(max-width: 1366px){
 
}

@media(max-width: 1024px){

	/*-----------------------------
	---------index 1024------------
	------------------------------*/

	.index_pad {
    	padding: 450px 0px 0px 0px;
	}
	.index_icon-thai-eng {
    	display: flex;
    	padding: 15px 360px;
	}
	.index_fix_frame {
    	padding: 0px 0px 0px 0px; 
    }

	/*-----------------------------
	---------index 1024 end--------
	------------------------------*/
 
}
@media(max-width: 768px){
	/*-----------------------------
	---------index 768------------
	------------------------------*/

	.index_pad {
    	padding: 320px 0px 0px 0px;
	}
	.index_icon-thai-eng {
    	display: flex;
    	padding: 10px 240px;
	}

	/*-----------------------------
	---------index 768 end--------
	------------------------------*/



}
@media(max-width: 414px){
	/*-----------------------------
	---------index 414------------
	------------------------------*/

	.index_pad {
    	padding: 220px 0px 0px 0px;
	}
	.index_icon-thai-eng {
    	display: flex;
    	padding: 5px 90px;
	}
	/*-----------------------------
	---------index 414 end--------
	------------------------------*/
	
}
@media(max-width: 375px){
	/*------------------------------
	-------------index 375---------
	--------------------------------*/
	.index_icon-thai-eng {
    	display: flex;
   		padding: 5px 69px;
	}
	/*------------------------------
	-------------index 375 end--------
	--------------------------------*/
	
}
@media(max-width: 320px){
		/*------------------------------
	-------------index 375---------
	--------------------------------*/
	.index_pad {
    	padding: 150px 0px 0px 0px;
	}
	.index_icon-thai-eng {
    	display: flex;
    	padding: 5px 43px;
	}
	/*------------------------------
	-------------index 375 end--------
	--------------------------------*/
	
}